<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Customer Management Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/cmApp.css">
   </head>
  <body ng-app="cmApp">



  <div id="cmApp-main-layout">
    <div class="header">
        <div class="logo">
            <h1>Customer Management App</h1>
        </div>
        <div class="app-version">
         <span> 0.1 </span>
        </div>
    </div>
    <div class="content-wrap">
        <div class="application-navigation">
           <ul>
               <li>
                   <a href="#/dashboard" >
                       <span> Dashboard </span>
                   </a>
               </li>
               <li>
                   <a href="#/customers" >
                       <span> Customers </span>
                   </a>
               </li>
               <li>
                   <a href="#/projects" >
                       <span> Projects </span>
                   </a>
               </li>
               <li>
                   <a href="#/calender" >
                       <span> Calender </span>
                   </a>
               </li>
           </ul>
        </div>
        <!--<div class="content" ng-view>-->

        <!--</div>-->
        <div class="content">
            <div ng-controller="CustomersController">
                <h1>Customer Controller:</h1>

                <div class="search">
                    <strong>Search:</strong>
                    <input type="text" ng-model="firstName" />
                </div>

                <ul>
                    <li ng-repeat="customer in customers | orderBy: 'firstName' ">
                        <div>
                            <span>Full Name: {{ customer.firstName | lowercase }} {{ customer.lastName | lowercase }} </span>
                            <span>Company: {{ customer.company | lowercase }} </span>
                            <span>Web Site: {{ customer.webSite | appercase }} </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>







    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>






    <! --  Register CmApp Scripts  -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/customerService.js"></script>
    <! -- End Register -->



</body>
</html>
